.task-list{
    background-color: #fff;
    width: 100%;
    margin-top: 20px;
}
.Polaris-Icon{
    margin: 0 !important;
}
.Polaris-IndexTable__TableCell{
    padding: 0 !important;
}
.Polaris-IndexTable__TableHeading{
    padding: 0 !important;
}
.Polaris-IndexTable__TableHeading{
    padding: 10px  !important;
}
